---
// import TableOfContentsList from '@astrojs/starlight/components/TableOfContents/TableOfContentsList.astro';

import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/TableOfContents.astro';
// import TableOfContentsList from '@astrojs/starlight/components/TableOfContents/TableOfContentsList.astro';

// import TableOfContentsList from '@astrojs/starlight/components/TableOfContents/TableOfContentsList';

const { title } = Astro.props.entry.data;
const { toc } = Astro.props;



// console.log('\n------ BEFORE -------');
// console.log('title:', title, 'toc:', toc, 'toc0:', toc?.items[0].text);
// console.log('\n\n');

[ ...toc?.items][0].text = title;

// console.log('------- AFTER -------');
// console.log('title:', title, 'toc:', toc, 'toc0:', toc?.items[0].text);

// Object.fromEntries(
// 		Object.entries(Astro.locals.t.all())
// 			.forEach(k => console.log(k)));

            // Astro.locals.t('tableOfContents.onThisPage') = title;

// Astro.locals.t('tableOfContents.onThisPage', { feature: title });
// console.log(Astro.locals.t('tableOfContents.onThisPage', { feature: title }));

---
<Default {...Astro.props}><slot /></Default>
<!-- 
{
	toc && (
		<starlight-toc data-min-h={toc.minHeadingLevel} data-max-h={toc.maxHeadingLevel}>
			<nav aria-labelledby="starlight__on-this-page">
				<h2 id="starlight__on-this-page">{Astro.locals.t('tableOfContents.onThisPage', { feature: title })}</h2>
				<TableOfContentsList toc={toc.items} />
			</nav>
		</starlight-toc>
	)
}

<script src="@astrojs/starlight/components/TableOfContents/starlight-toc"></script>
 -->