---
// import BaseLayout from '../layouts/BaseLayout.astro';
// import Greeting from '../components/Greeting';
import Edit from '../components/Edit.astro';
// const pageTitle = "Home Page";
---
<!-- <BaseLayout pageTitle={pageTitle}> -->
  <h2>My Edit Page</h2>
  <Edit />
  <!-- <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} /> -->
<!-- </BaseLayout> -->