body { background: navy; }
.card {
    background: slategray;
}
.dgr {
    display: grid;
    border: 2px solid hotpink;
  }
  @media screen and (min-width: 500px){
    .dgr {
      grid-auto-flow: column;
    }
  }
