
:root {
  font-size: 150%;
  --_text-shadow-color: rgba(0, 0, 0, 0.3);
}

p, li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0px 1px 1px var(--_text-shadow-color);
}

/*
 *
 Style detail/summary accordians for Markdown content
 *
 * Style space (ss) 1000
 *
 */
details:has(.details-header) > .details > *:not(.text-grid) {
  margin-left: 2.2rch;
}
/* ss1000 */
details:has(.details-header) > .details > [class*="heading"] {
  margin-left: -1rch;
}
/* ss1000 */
span.details > .heading-wrapper {
  margin-block-start: 1.5rlh;
  margin-block-end: 0.2rlh;
}
/* ss1000 */
span.details > p:has(+ .heading-wrapper) {
  margin-block-end: 0rlh;
}
/* ss1000 */
summary.details-header {
  font-size: 160%;
}

/*
 *
 Style ul/li for Markdown content
 *
 * Style space (ss) 2000
 *
 */
 /* ss2000 Start */
ul.text-grid {
  --_defined_gap: var(--gapr, 1.25rlh) var(--gapc, 2rch);
  --_defined_grid: var(--gridrow) / var(--gridcol);
  --_landscpe_grid: auto / 1fr 1fr;
  --_portrait_grid: auto / 1fr;
  --_inline_size: var(--inlinesize, 80%);
  
  display: grid;
  gap: var(--_defined_gap);
  grid-auto-flow: column;
  grid: var(--_portrait_grid);
  inline-size: var(--_inline_size);
  text-indent: var(--textindent);
  list-style-position: var(--lsp);
  list-style-type: var(--lst);
  margin: var(--gridmargin);
  padding: var(--pad);
  position: var(--pos);
  }

 /* ss2000 */
ul.text-grid > li {
  margin: var(--itemmargin);
}
 /* ss2000 */
@media screen and (min-width: 1200px) {
  ul.text-grid {
    grid-auto-flow: var(--flow, row);
    grid: var(--_defined_grid, var(--_landscape_grid));
  }		
}
 /* ss2000 End */


@media (prefers-color-scheme: dark) {
  :root {
    --_text-shadow-color: rgba(247, 242, 242, 0.9);
  }
  body {
    --sl-color-text: var(--sl-color-white);
  }
}
/* 
.sl-container {
*/
  /*** size ***/
/* 
  --u:  .20vmin;

    --c1: #b1cddb;
    --c2: #96b5cb;
    --c3: #7d9eaf;
    --c4: #6f92a3;
    --sh: #0006;
    --sh2: rgba(201, 178, 136, 0.133);
    --gp: 50%/ calc(var(--u) * 2) calc(var(--u) * 2);
    height: 100vh;
	background: 
		repeating-linear-gradient(45deg, #42312f30 calc(var(--u) * 0.125), #fff0 calc(var(--u) * 0.25) ), 
		conic-gradient(from 85deg at 75% 1px, #fff0 0, var(--sh2) 0%, #fff0 5% 100%) var(--gp),  
		conic-gradient(from -5deg at 0% calc(75% - 1px), #fff0 0, var(--sh) 0%, #fff0 4% 100%) var(--gp),  
		conic-gradient(from 0deg at 75% calc(75% - 1px), #fff0 0 22%, var(--sh2) 25%, #fff0 25% 100%) var(--gp),   
		conic-gradient(from 0deg at 75% calc(75% - 1px), var(--c4) 0 25%, #fff0 0 97%, var(--sh) 105%) var(--gp),
		linear-gradient(180deg, #fff0 0%, var(--sh) 25%, #fff0 25% 50%, var(--sh) 50%, #fff0 75% 100%) var(--gp), 
		linear-gradient(180deg, #fff0 25%, var(--c3) 25% 50%, #fff0 50% 100%) var(--gp), 
		linear-gradient(90deg, #fff0 0%, var(--sh) 25%, #fff0 25% 50%, var(--sh) 50%, #fff0 75% 100%) var(--gp), 
		linear-gradient(90deg, #fff0 25%, var(--c2) 25% 50%, #fff0 50% 100%) var(--gp), 
		linear-gradient(180deg, var(--sh) 0%, #fff0 25% 50%, var(--sh) 75%, #fff0 75% 100%) var(--gp), 
		linear-gradient(180deg, #fff0 75%, var(--c1) 75% 100%) var(--gp), 
		#42312F;	
} 
*/