
:root {
  font-size: 150%;
}

body > a {
  visibility: hidden;
  display: none;
}
p, li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

figure {
  inline-size: fit-content;
  margin: auto;
  position: relative;
}
figure > figcaption.not-content {
  margin-top: 0rlh;
}


/* ss1001 Start */
/* ss1001 */
 .sl-markdown-content summary.not-content {
   list-style-position: outside;
 }
/* ss1001 End */


/* ss2000 Start */
/*
 * Style ul/li for Markdown content
 */
/* ss2000 */
ul.text-grid {
  --_defined_gap: var(--gapr, 1.25rlh) var(--gapc, 2rch);
  --_defined_grid: var(--gridrow) / var(--gridcol);
  --_landscpe_grid: auto / 1fr 1fr;
  --_portrait_grid: auto / 1fr;
  --_inline_size: var(--inlinesize, 80%);
  
  display: grid;
  gap: var(--_defined_gap);
  grid-auto-flow: column;
  grid: var(--_portrait_grid);
  inline-size: var(--_inline_size);
  text-indent: var(--textindent);
  list-style-position: var(--lsp);
  list-style-type: var(--lst);
  margin: var(--gridmargin);
  padding: var(--pad);
  position: var(--pos);
}

 /* ss2000 */
ul.text-grid > li {
  margin: var(--itemmargin);
}

 /* ss2000 */
@media screen and (min-width: 1200px) {
  ul.text-grid {
    grid-auto-flow: var(--flow, row);
    grid: var(--_defined_grid, var(--_landscape_grid));
  }

}
/* ss2000 End */

/* ss9000 Start */

/* ss9000 */
.navigation ul {
  background: darkorange;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

/* ss9000 */
.navigation li {
	color: #fff;
  background: darkorange;
	display: block;
	float: left;
	padding: 1rem;
	position: relative;
	text-decoration: none;
/*   transition-duration: 0.5s; */
}
  
/* ss9000 */
.navigation li a {
  color: #fff;
}

/* ss9000 */
.navigation li:hover,
.navigation li:focus-within {
	background: red;
	cursor: pointer;
}

/* ss9000 */
.navigation li:focus-within a {
  outline: none;
}
/* ss9000 */
.navigation ul.dropdown {
  margin-top: -10px;
  margin-left: 20px;
  z-index: 1;
}
/* ss9000 */
article.a > header + section {
	background: orange;
	visibility: hidden;
  opacity: 0;
  min-width: 5rem;
	position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
	left: 0;
  display: none;
}
/* ss9000 */
article.a > header:hover + section,
article.a > header + section:focus-within > *,
article.a > header + section *:hover,
article.a > header + section *:focus {
  visibility: visible;
  opacity: 1;
  display: block
}
/* ss9000 */
article.a header + section * {
	clear: both;
  width: 100%;
}
/* ss9000 End */

/* ss9100 Start */
/* ss9100 */
article.b {
  position: relative;
  display: grid;
  /* grid: auto-fit(fit-content) auto-fill(fit-content) / none; */
  grid: repeat(auto-fit, minmax(min-content,1fr)) / 1fr;
  grid-auto-flow: row;
}
/* ss9100 */
article.b > header.tab {
  /* position: relative; */
  grid-area: 1;
  }
article.b > section.tab__content {
  /* grid-area: 2; */
  visibility: hidden;
  block-size: 0;
  /* max-height: 0; */
  /* overflow: hidden; */
  transition: all 0.35s;
  /* visibility: hidden; */

}
header.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
article.b > header.tab > input:checked ~ article.b > section.tab__content {
  /* max-height: 10rem; */
  visibility: visible;
  grid-area: 2;
  block-size: auto;

}

/* Visual styles */
article.b {
  color: var(--theme);
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
}
article.b > header.tab > label.tab__label,
.tab__close {
  display: flex;
  color: white;
  background: var(--theme);
  cursor: pointer;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
article.b:has( > header.tab > input:not(:checked) ) > section.tab__content {
  visibility: hidden;
}
article.b:has( > header.tab > input:checked ) > section.tab__content {
  visibility: visible;
}
.tab__content p {
  margin: 0;
  padding: 1rem;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --theme: var(--secondary);
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce .5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}

/* ss9100 End */

/* ss9500 Start */
/* ss9500 */
#accordion input {
	display: none;
}
/* ss9500 */
#accordion label {
	/* background: #eee; */
	cursor: pointer;
	display: block;
}
/* ss9500 */
#accordion label:hover {
	background: #ccc;
}
/* ss9500 */
#accordion input:checked + label {
	background: #ccc;
	color: white;
}
/* ss9500 */
#accordion section {
	/* background: #f7f7f7; */
  block-size: 0px;
	overflow:hidden;
}
/* ss9500 */
#accordion section p {
	padding: 1em;
}
/* ss9500 */
#accordion input:checked ~ section {
  block-size: auto;
}
/* ss9500 End */

@media (prefers-color-scheme: dark) {
  :root {
    --_text-shadow-color: rgba(247, 242, 242, 0.9);
  }
  body {
    --sl-color-text: var(--sl-color-white);
  }
}
/* 
.sl-container {
*/
  /*** size ***/
/* 
  --u:  .20vmin;

    --c1: #b1cddb;
    --c2: #96b5cb;
    --c3: #7d9eaf;
    --c4: #6f92a3;
    --sh: #0006;
    --sh2: rgba(201, 178, 136, 0.133);
    --gp: 50%/ calc(var(--u) * 2) calc(var(--u) * 2);
    height: 100vh;
	background: 
		repeating-linear-gradient(45deg, #42312f30 calc(var(--u) * 0.125), #fff0 calc(var(--u) * 0.25) ), 
		conic-gradient(from 85deg at 75% 1px, #fff0 0, var(--sh2) 0%, #fff0 5% 100%) var(--gp),  
		conic-gradient(from -5deg at 0% calc(75% - 1px), #fff0 0, var(--sh) 0%, #fff0 4% 100%) var(--gp),  
		conic-gradient(from 0deg at 75% calc(75% - 1px), #fff0 0 22%, var(--sh2) 25%, #fff0 25% 100%) var(--gp),   
		conic-gradient(from 0deg at 75% calc(75% - 1px), var(--c4) 0 25%, #fff0 0 97%, var(--sh) 105%) var(--gp),
		linear-gradient(180deg, #fff0 0%, var(--sh) 25%, #fff0 25% 50%, var(--sh) 50%, #fff0 75% 100%) var(--gp), 
		linear-gradient(180deg, #fff0 25%, var(--c3) 25% 50%, #fff0 50% 100%) var(--gp), 
		linear-gradient(90deg, #fff0 0%, var(--sh) 25%, #fff0 25% 50%, var(--sh) 50%, #fff0 75% 100%) var(--gp), 
		linear-gradient(90deg, #fff0 25%, var(--c2) 25% 50%, #fff0 50% 100%) var(--gp), 
		linear-gradient(180deg, var(--sh) 0%, #fff0 25% 50%, var(--sh) 75%, #fff0 75% 100%) var(--gp), 
		linear-gradient(180deg, #fff0 75%, var(--c1) 75% 100%) var(--gp), 
		#42312F;	
} 
*/