.card {
    background: slategray;
}

table {
    margin-block: 2rem;
    margin-inline: auto;
    color:blueviolet
}
table thead {
    color:blueviolet
}
table td {
    padding-block: 0.3rem;
    padding-inline: 0.5rem;
}
.gr {
    display: grid;
}